{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "printWidth": 80,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "endOfLine": "auto"
}